{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}

    <h1 style="margin-top:3%;margin-left:0.5%;text-orientation:left;">{% trans "Password Reset" %}</h1>
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}

    {% else %}
    <p>{% trans "Lupa password Anda? Ketik alamat email di bawah untuk dikirimi link untuk reset password." %}</p>

    <form style="margin-left:0.5%;" method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="{% trans 'Reset My Password' %}" />
    </form>

    <p style="margin-bottom:28%;">{% blocktrans %}Hubungi kami jika kesulitan me-reset password.{% endblocktrans %}</p>
    
    {% endif %}

 {% endblock %}

