{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
    <h1 style="margin-top:3%;margin-left:0.5%;text-orientation:left;">{% trans "Password Reset" %}</h1>
    
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}
    
    <p style="margin-bottom:30%;">{% blocktrans %}Kami telah mengirimi email address Anda suatu link untuk reset password. Hubungi kami jika ada masalah.{% endblocktrans %}</p>

{% endblock %}
