{% extends 'base.html' %}
{% load static %}

{% block title %} Bye-Covid! {% endblock %}
{% block content %}
<div class="container-fluid padding top-hand">
    <h1 class="title" style="padding-top: 5%; color: black;">don't forget<br>to protect your body.</h1>
</div>

<!-- <div class="container-fluid padding mid">
    <div class="row text-center padding">
        <div class="col-sm-6">
            <img src="{% static 'apd2.jpg' %}" alt="APD" class="APD" width="400" height="400" style="text-align: left;">
        </div>
        <div class="col-sm-6 definition">
            <h3>Wayya APD</h3>
        </div>
    </div>
</div> -->
<!-- yang bawah gabisa tampil masa -->
<div class="container-fluid padding mid">
    <div class="row text-center">
        {% for i in apd_list %}
        <div class="col-sm-6 col-md-4 boxdown">
            <a href="/product/{{i.id}}">
                <img src={{i.gambar}} alt="apd" class="expad" width= "400" height="400">
                        <h3>{{i.nama}}</h3>
                        <p>Rp{{i.harga}}</p>
                    </div>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}