<div class="container-fluid footer" style="background-color: #C4C4C4;">
    <div class="row">
        <div class="col-sm-5">
            <b>
                about.
            </b>
            <p>
                stay safe by shopping from home with <span style="font-weight: bold;">BYE-COVID!</span> <br>
                we care about your health.
            </p>
        </div>
        <div class="col-sm-4">
            <b>
                contact us.
            </b>
            <p>
                +6281xxxxxxx<br>
                bye-covid@gmail.com
            </p>
        </div>
        <div class="col-sm-3">
            <b>
                follow us.
            </b>
            <p>
                <a href="#">
                    Facebook
                </a>
                <br>
                <a href="#">
                    Instagram
                </a>
                <br>
                <a href="#">
                    Twitter
                </a>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 text-center">
            <!-- <div class="display-5"> -->
                
            </div>
            <div class="display-6">
                <b>BYE-COVID!</b>

            </div>
        </div>
    </div>
</div>