{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% block title %} Transaction History {% endblock %}

{% block content %}
<br><br><br>

<div class="jumbotron jumbotron-fluid j1">
    <div class="container text-center" style="color: white;">
        <h3>Our History</h3>
    </div>
</div>

<br><br><br>

<div class="container">
    {% for transaction in transactions %}
    <div class="row align-items-top">
        <div class="col-7">
            <img src="{{ transaction.produk.gambar }}" class="sepatu1">
        </div>
        <div class="col-5 detail">
            <div class="text-center"><strong>Order Details</strong></div>
            <div>Name : {{ transaction.produk }}</div>
            <div>Order ID : {{ transaction.orderId }}</div>
            <div>Customer : {{ transaction.customer }}</div>
            <div>Total Price : Rp. {{ transaction.produk.harga|intcomma }},-</div>
            <div>Transaction Date : {{ transaction.transDate }}</div>
        </div>
    </div>

    <br><br><br><br>
    {% endfor %}

</div>
{% endblock %}
